/**************************************************************************************************
Principal*****************************************************************************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #1B396A;
 /*   background: -webkit-linear-gradient(to right, #49a09d, #1B396A); 
    background: linear-gradient(to right, #49a09d, #1B396A); */

}


body {
    position: relative;
    margin: 0;
    width: 1920px;
    min-width: 320px;
    min-height: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/**************************************************************************************************
Encabezado****************************************************************************************/

/**************************************************
LOGOS*********************************************/

.contenedor-logos{
    width: 50%;
    min-width: 300px;
    padding-top: 10px;
}

img#gobierno {
    width: 30%;
}
img#educacion {
    width: 30%;
}
img#tecnm {
    width: 15%;
}
img#qroo {
    width: 8%;
}
img#fcp {
    width: 10%;
}

/**************************************************
TITULO********************************************/

.contenedor-titulo{
    width: 80%;
    min-width: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.contenedor-img{
    width: 15%;
    float: left;
}

img#isc {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-txt{
    width: 85%;
    float: left;
    display: flex;
    align-items: center;
}

.contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
}

/**************************************************************************************************
BODY**********************************************************************************************/

.contenedor-cuerpo{
    width: 100%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.contenedor-informacion{
    width: 75%;
    padding-bottom: 15PX;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    float: left;
    margin-bottom: 50px;
}

/**************************************************
MENU**********************************************/
.btn-menu {
    min-width: 320px;
    display:none;
    padding: 20px;
    background: #1B396A;
    color: #fff;
}
.btn-menu .icono {
    float: right;
}
.contenedor-menu {
    min-width: 25%;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    float: left;
}
.contenedor-menu .menu {
    width: 100%;
}
.contenedor-menu ul {
    list-style: none;
}
.contenedor-menu .menu li a {
    color: #494949;
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}
.contenedor-menu .menu li a:hover {
    background: #1a95d5;
}
.contenedor-menu .menu .icono {
    font-size: 12px;
    line-height: 18px;
}
.contenedor-menu .menu .icono.izquierda {
    float: left;
    margin-right: 10px; 
}
.contenedor-menu .menu .icono.derecha {
    float: right;
    margin-left: 10px; 
}
.contenedor-menu .menu ul {
    display: none;
}
.contenedor-menu .menu ul li a {
    background: #424242;
    color: #e9e9e9;
}
.contenedor-menu .menu .activado > a {
    background: #1a95d5; 
    color: #fff;
}

/**************************************************************************************CONTENEDOR INFORMACION*************************************/

/*.contenedor-informacion{
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); 
    background: linear-gradient(to right, #49a09d, #5f2c82); 
}*/


/**************************************************
SLIDER********************************************/


.contenedor-slider{
    width: calc(100% - 40px);
    margin: 0px auto 50px auto;

}

/**************************************************
CONTENIDO*****************************************/

.contenedor-contenido{
    width: calc(100% - 40px);
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #1B396A;
    padding: 10px;
}

/**************************************************
CALENDARIO****************************************/



/**************************************************************************************************
Pie***********************************************************************************************/

footer{
    padding-top: 10px;
    width:100%;
    height:50px;
    background-color: #1B396A;
    text-align: center;
    position: absolute;
    bottom: 0;


}

footer p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1366PX********************************************************************/

@media screen and (max-width: 1366px) {

/*************************************************************************
Encabezado - 1366px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    }
}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1150PX********************************************************************/


@media screen and (max-width: 1150px) {

/*************************************************************************
Encabezado - 1150px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    }
}



/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1024PX********************************************************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {

/*************************************************************************
BODY - 768px and 1024px*****************************************/

    .contenedor-informacion{
        width: 70%;
    }


/*************************************************************************
Encabezado - 768px and 1024px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    }

/*************************************************************************
Menu - 768px and 1024px*************************************************************/

.contenedor-menu {
    min-width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    }

/*************************************************************************
Informaci贸n - 768px and 1024px******************************************************/


    .contenedor-contenido{
        margin-left: 20px;
    }

/*************************************************************************
Calendario - 768px and 1024px*******************************************************/

    .contenedor-calendario{
        margin-left: 10px;
    }

/*************************************************************************
Pie - 768px and 1024px**************************************************************/

    footer p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 767PX********************************************************************/

@media screen and (max-width: 767px) {

/*************************************************************************
BODY - 767px*****************************************/

    .contenedor-informacion{
        width: 70%;
    }


/*************************************************************************
Encabezado - 767px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    }

/*************************************************************************
Menu - 767px*************************************************************/

    .contenedor-menu {
    min-width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 18px;
    }

/*************************************************************************
Slider - 767px***********************************************************/


    .contenedor-slider{
        width: calc(100% - 20px);
    }


/*************************************************************************
Informaci贸n - 767px******************************************************/


    .contenedor-contenido{
        margin-left: 10px;;
    }

/*************************************************************************
Calendario - 767px*******************************************************/

    .contenedor-calendario{
        margin-left: 10px;;
    }

/*************************************************************************
Pie - 767px**************************************************************/

    footer p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 600PX********************************************************************/

@media screen and (max-width: 600px) {

/*************************************************************************
BODY - 600px*****************************************/


    body{
        padding-top: 80px;
    }

    .contenedor-informacion{
        width: 100%;
        float: none;
    }


/*************************************************************************
Encabezado - 600px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    }

/*************************************************************************
Menu - 600px*************************************************************/

    .contenedor-menu {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        margin-top: 0px;

    }
    
    .btn-menu {
        display: block;
    }

    .contenedor-menu .menu {
        display: none;
    }

/*************************************************************************
Slider - 600px***********************************************************/


    .contenedor-slider{
        width: 100%;
    }


/*************************************************************************
Informaci贸n - 600px******************************************************/


    .contenedor-contenido{
        margin-left: 10px;
    }

/*************************************************************************
Calendario - 600px*******************************************************/

    .contenedor-calendario{
        margin-left: 10px;;
    }

/*************************************************************************
Pie - 600px**************************************************************/

    footer p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 480PX********************************************************************/

@media screen and (max-width: 480px) {

/*************************************************************************
BODY - 320px and 480px*****************************************/


    body{
        padding-top: 80px;
    }

    .contenedor-informacion{
        width: 100%;
        float: none;
    }

/*************************************************************************
Encabezado - 320px and 480px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    }

/*************************************************************************
Menu - 320px and 480px*************************************************************/

    .contenedor-menu {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        margin-top: 0px;

    }
    
    .btn-menu {
        display: block;
    }

    .contenedor-menu .menu {
        display: none;
    }

/*************************************************************************
Pie - 320px and 480px**************************************************************/

    footer p{
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }

/*************************************************************************
Slider - 320px and 480px***********************************************************/


    .contenedor-slider{
    width: 100%;
    }


/*************************************************************************
Informaci贸n - 320px and 480px******************************************************/


    .contenedor-contenido{
        margin-left: 7px;;
    }

/*************************************************************************
Calendario - 320px and 480px*******************************************************/

    .contenedor-calendario{
        margin-left: 10px;;
    }


}
