.contenedor-select-seccion{
	width: 26%;
	position: absolute;
	left: 73%;
}

.contenedor-select-seccion i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #8cc63e;
	border-bottom:4px solid #8cc63e;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.contenedor-select-seccion:hover i{
	margin-top: 3px;
}


.btn-seleccionar{
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 24px;
	background: #1B396A;
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	border: 1px solid #8cc63e;
	font-size: 18px;

}

.contenedor-select-seccion ul{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #ccc;
	transform-origin: top;
	transform: perspective(1000px) rotateX(-90deg);
	transition: 0.5s;
}

.contenedor-select-seccion ul.active{
	transform: perspective(1000px) rotateX(0deg);
}

.contenedor-select-seccion ul li{
	list-style: none;
}

.contenedor-select-seccion ul li a{
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	background: #262626;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.contenedor-select-seccion ul li a:hover{
	background: #0d7ad0;
}


/*****************************FORMULARIOS**********************************/

.formulario{
	font-family: 'Roboto', sans-serif;
	width: calc(100% - 40px);
	margin: 2% auto;
	display: block;
}

input{
	display: block;
	text-align: center;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #8cc63e;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label{
	display: inline-block;
    margin-bottom: .5rem;
    text-align: center;
}

textarea{
	font-family: 'Roboto', sans-serif;
	display: block;
	text-align: justify;
    width: 100%;
    height: 500px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #8cc63e;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.tabla-informacion-escolar{
	margin: auto;
	width: 100%;
}
.btn-tabla{
	width: 50px;
	padding: 10px;
	margin: 20px;
	background: #1B396A;
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all _7s;
	cursor: pointer;
	text-align: center;
	color: #fff;
}

.btn-tabla:hover{
	background: #1a95d5;
	transition: .7s;
}


table{
	background: #fff;
	text-align: left;
	border-collapse: collapse;
	width: 100%; 
}

th, td{
	padding: 20px;
}

td{
	text-align: justify;
}

thead{
	text-transform: uppercase;
	text-align: center;
	background: #1B396A;
	border-bottom: solid 5px #8cc63e;
	color: #fff;
}

tr:nth-child(even){
	background-color: #ddd; 
}

tr:hover td{
	background-color: #369681;
	color: #fff;
}


/********************************************************************************************/

.contenedor-cargar-img{
	font-family: 'Roboto', sans-serif;
	width: calc(100% - 40px);
	margin: 2% auto;
	display: flex;
  	justify-content: center;
}

.contenedor-img-seccion{
	width: 20%;
	min-width: 200px;
    margin: 0px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
   	border: 2px solid #8cc63e;

}

.contenedor-img-seccion img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.contenedor-txt-seccion{
	min-height: 200px;
    margin: 0px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.contenedor-boton-cargar{
	margin: 0px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.subir{
	width: 250px;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	margin: 20px;
	background: #1B396A;
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all _7s;
	cursor: pointer;
	text-align: center;
}
 
.subir:hover{
	background: #1a95d5;
	transition: .7s;
}

#info-img{
	min-width: 200px;
	text-align: center;
	max-width: 350px;
	overflow: auto;
}


.contenedor-boton-cargar button{
	min-width: 250px;
}

.contenedor-boton-CE{
	width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contenedor-boton-CE button{
	min-width: 250px;
}

/***********************************************************************************SELECTOR FECHA************************************************************/

.contenedor-select-seccion input{
	font-family: 'Roboto', sans-serif;
	width: calc(100% - 40px);
	margin: 2% auto;	
}